@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(101, 170, 252);
    padding: 5%;
    border-bottom: 2px solid rgb(22, 122, 239);
}

.row div {
    height: 300px;
    background: #999999;
}

.form {
    width: 100%;
    text-align: center;
}

.form form {
    width: 40%;
    margin-left: 28%;
    margin-top: 10vh;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(189, 210, 239, 0.82);
}

.formField {
    width: 80%;
    display: inline-block;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 2% 3.5%;
    font-size: 1em;
    color: #69879f;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formBtn {
    display: inline-block;
    width: 34%;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(101, 170, 252);
    border-radius: 4px;
    padding: 2% 3.5%;
    background-color: rgb(101, 170, 252);
    cursor: pointer;
    color: #f7f7f7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formField, .formBtn {
    font-size: 1.2em;
    outline: none;
}

.formBtn:hover {
    border: 2px solid rgb(155, 194, 240);
    background-color: rgb(155, 194, 240);
}

.link {
    display: inline-block;
    float: right;
    margin: 10px;
    font-size: 1.5em;
    padding: 0.5%;
    border-radius: 5px;
    border: 2px solid rgb(101, 170, 252);

}

.link:hover {
    border: 2px solid rgb(155, 194, 240);
    background-color: rgb(155, 194, 240);
    text-decoration: none;
    color: #f7f7f7;
}

.animation {
    text-decoration: none;
    -webkit-trasition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    -ms-transition: all.6s ease;
    transition: all.6s ease;
}

ul li {
    list-style-type: none;
}

#comments {
    /*text-align: center;*/
    width: 88%;
    margin-left: 5%;
    padding: 1%;
}

#comments #commentField {
    width: 40%;
    padding: 1%;
    margin-left: 28%;
}

#comments #commentField #field {
    display: inline-block;
    /*text-align: center;*/
    float: left;
}

#comments #commentField .messageBtn {
    display: inline-block;
    /*text-align: center;*/
    float: left;
}

#comments .list {
    /*background-color: rgba(101, 170, 252, 0.17);*/
}

#comments #list {
    margin-top: 60px;
    width: 70%;
    margin-left: 15%;
}

#comments #list .comment {
    margin-top: 10px;
    background-color: rgba(101, 170, 252, 0.17);
    padding: 1%;
    border-radius: 10px;
}

#comments #list .comment .author {
    font-size: 1.4em;
    color: rgb(30, 117, 220);
    padding: 1%;
    border-bottom: 2px solid rgb(155, 194, 240);
}

#comments #list .comment .content {
    color: rgb(30, 117, 220);
    font-size: 1.3em;
    padding: 2%;
}

#comments #list .comment .createDate {
    color: rgb(30, 117, 220);
    padding: 1%;
    float: right;
}

#comments #list .comment .slash {
}

#comments #list .comment .commentButtons,
#comments #list .comment .slash {
    /*float: left;*/
    font-size: 1.1em;
    display: inline-block;
}